---
import {icon_url} from "src/scripts/links"

interface Props {
	title:string;
}
const {title} = Astro.props;

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- credit to: https://publicdomainvectors.org/en/free-clipart/Math-icons/81176.html  -->
		<link
			rel="icon"
			type="image/svg+xml"
			href={icon_url}
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot/>
	</body>
</html>

<style>
body {
	margin:0px;
}
</style>

